#home-content
{
	padding-top: 25%;
	padding-bottom: 25%;
}
#navigation-content, #favorites-content, #about-content, #history-content
{
	padding-top: 10%;
	padding-bottom: 10%;
}
#cities-content
{
	padding-top: 20%;
	padding-bottom: 20%;
}
#settings-content
{
	padding-top: 15%;
	padding-bottom: 15%;
}
#notifications-content
{
	padding-top: 15%;
	padding-bottom: 15%;
}
#new-trip-content, #guidance-content
{
	padding-top: 15%;
	padding-bottom: 15%;
}
#header-title
{
	position: absolute;
	left: 25%;
}
label.radio-name
{
	font-weight: bold;
	font-size: 125%;
}
label.radio-details
{
	font-style: italic;
	font-size: 75%;
	white-space: normal;
}
button.right-button
{
	float:right;
}
input.vocal-rate
{
	display: block;
}
label.favorites-button
{
	white-space: normal;
}

.tabs, .dropdown-menu
{
	background-color: #3cac00;
	width: 100%;
}

.tab_nav_center
{
	padding: 0px;
}

.dropdown-item
{
	color: white !important;
	text-align: center !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus
{
	color: black;
}

.guidance-message
{
	font-size: 150%;
	font-weight: bold;
	white-space: normal;
}

.item-toggle
{
	white-space: normal;
}

.guidance-step
{
	height: 100px;
	text-align: center !important;
}
button.active
{
	background-color: #33af5f;
}
