<div class="bar bar-header bar-balanced" id="navigation-header">
	<button ng-click="goToHome()" class="button icon-left ion-chevron-left button-balanced">
	  {{'HOME_BUTTON' | translate}}
	</button>
  	<h1 class="title" id="header-title">{{'SETTINGS_TITLE' | translate}} </h1>
</div>
<ion-content id="settings-content" padding=true>
	<div class="list list-inset">
		<div class="item home-detection">
			<h2>{{'SETTINGS_HOMEDETECTION' | translate}}</h2>
			<button class="right-button button button-balanced">{{'SETTINGS_HOMEDETECTION_BUTTON' | translate}}</button>
		</div>
		<div class="item exit-type">
			<h2>{{'SETTINGS_EXITTYPE' | translate}}</h2>
			<ion-radio name="stgExitType" value="automatic" ng-model="stgExitType" ng-click="refreshSetting('stgExitType', stgExitType)">
				<label class="radio-name">
					{{'SETTINGS_EXITTYPE_RADIO_AUTO' | translate}}
				</label><br/>
				<label class="radio-details">
					{{'SETTINGS_EXITTYPE_RADIO_AUTO_LABEL' | translate}}
				</label>
			</ion-radio>
			<ion-radio name="stgExitType" value="manual" ng-model="stgExitType" ng-click="refreshSetting('stgExitType', stgExitType)">
				<label class="radio-name">
					{{'SETTINGS_EXITTYPE_RADIO_MANUAL' | translate}}
				</label><br/>
				<label class="radio-details">
					{{'SETTINGS_EXITTYPE_RADIO_MANUAL_LABEL' | translate}}
				</label>
			</ion-radio>
		</div>	
		<div class="item vocal-rate">
			<h2>{{'SETTINGS_VOCALRATE' | translate}}</h2>
			<div class="range range-balanced">	
				<input type="range" ng-model="stgVocalRate" ng-change="refreshSetting('stgVocalRate', stgVocalRate)" value="{{stgVocalRate}}" min="0" max="100" step="5"/>
				<span> {{stgVocalRate}}%</span>
				<span>
					<button class="right-button button button-balanced" ng-click="vocalTest()"> {{'SETTINGS_VOCALRATE_BUTTON' | translate}} </button>
				</span>
			</div>
		</div>
		<div class="item history-size">
			<h2>{{'SETTINGS_HISTORYSIZE' | translate}} </h2>
			<div class="range range-balanced">	
				<input type="range" / ng-model="stgHistorySize" ng-change="refreshSetting('stgHistorySize', stgHistorySize)" value="{{stgHistorySize}}" min="5" max="20" step="5">
				<span> {{stgHistorySize}} {{'SETTINGS_RESULTS' | translate}}</span>
			</div>
		</div>
		<div class="item smartwatch-notif">
			<h2>{{'SETTINGS_SMARTWATCHNOTIF' | translate}}</h2>
			<ion-radio name="stgSmartWatchNotif" value="automatic" ng-model="stgSmartWatchNotif" ng-click="refreshSetting('stgSmartWatchNotif', stgSmartWatchNotif)">
				<label>
					{{'SETTINGS_SMARTWATCHNOTIF_RADIO_ACTIVATE' | translate}}
				</label>
			</ion-radio>
			<ion-radio name="stgSmartWatchNotif" value="manual" ng-model="stgSmartWatchNotif" ng-click="refreshSetting('stgSmartWatchNotif', stgSmartWatchNotif)">
				<label>
					{{'SETTINGS_SMARTWATCHNOTIF_RADIO_DEACTIVATE' | translate}}
				</label>
			</ion-radio>
		</div>	
	</div>	
<h2> Notifications </h2>
<p>
	<label for="currentStop"> À l'arrêt courant </label>
		<select name="currentStop" ng-model="stgCurrentStopNotif" ng-change="refreshSetting('stgCurrentStopNotif', stgCurrentStopNotif)">
			<option value="none"> Aucune </option>
			<option value="vocal"> Vocales </option>
			<option value="visual"> Visuelles </option>
			<option value="both"> Les deux </option>
		</select>
</p>
<p>
	<label for="wayDown"> À la descente </label>
		<select name="wayDown" ng-model="stgWayDownNotif" ng-change="refreshSetting('stgWayDownNotif', stgWayDownNotif)">
			<option value="none"> Aucune </option>
			<option value="vocal"> Vocales </option>
			<option value="visual"> Visuelles </option>
			<option value="both"> Les deux </option>
		</select>
</p>
<p>
	<label for="duringTransfer"> En correspondance </label>
		<select name="duringTransfer" ng-model="stgDuringTransferNotif" ng-change="refreshSetting('stgDuringTransferNotif', stgDuringTransferNotif)">
			<option value="none"> Aucune </option>
			<option value="vocal"> Vocales </option>
			<option value="visual"> Visuelles </option>
			<option value="both"> Les deux </option>
		</select>
</p>
</ion-content>