<p>
	<button id='trip-type-new-trip' ng-click="goToNewTrip('trip-type-new-trip')"> Retour </button>
</p>
<h1> Type de trajet </h1>
	<p>
		<button id='trip-type-fastest' ng-click="goToGuidanceFastest('trip-type-fastest')"> Trajet le plus rapide </button>
	</p>
	<p>
		<button id='trip-type-less-walking' ng-click="goToGuidanceLessWalking('trip-type-less-walking')"> Trajet avec le moins de marche à pied </button>
	</p>
	<p>
		<button id='trip-type-less-transfer' ng-click="goToGuidanceLessTransfer('trip-type-less-transfer')"> Trajet avec le moins de correspondance </button>
	</p>
