<div class="bar bar-header bar-balanced" id="cities-header">
	<button id="cities-home" aria-label="{{'HOME_BUTTON_ARIA' | translate}}" ng-click="goTo('cities-home', '#/accueil', 'back')" class="button icon-left ion-chevron-left button-balanced">
	  {{'HOME_BUTTON' | translate}}
	</button>
  	<h1 class="title" id="header-title">{{'CITIES_TITLE' | translate}} </h1>
</div>
<ion-content id="cities-content" padding=true>
  <div class="list list-inset">
    <ion-toggle ng-repeat="item in citiesList" ng-model="item.checked" ng-checked="item.checked" toggle-class="ng-class:{'toggle toggle-assertive': !item.checked, 'toggle toggle-balanced': item.checked}" ng-click="toggleButton(item.name)">
      {{ item.name }}
    </ion-toggle>
  </div>
</ion-content>